<div id="post-edit">
<input type="text" class="form-control" ng-model="post.title" />
<hr />

<!-- <div class="row"> -->
<div class="content">
  <ul class="nav nav-tabs">
    <li 
      ng-class="{active : isActive('editor') } "
    >
      <a tabindex = "-1" ui-sref=".editor">編輯</a>
    </li>
    <li
      ng-class="{active : isActive('preview') } "
    >
      <a tabindex = "-1" href="" ng-click="preview()">預覽</a>
    </li>
<!--     <li>
      <a tabindex = "-1" href="" ng-click="show_on_front()">前台顯示</a>
    </li> -->
  </ul>
  <ui-view></ui-view>
</div>

<div class="sidebar">
  <button class="btn btn-block btn-default" ng-click="show_on_front()">前台顯示</button>
  <button class="btn btn-block btn-info" ng-click="save()">儲存</button>
  <hr />
  <div ng-show="post.state == 'published'">
    <button class="btn btn-primary btn-block" ng-click="changeState(post)">發佈中</button>
  </div>
  <div ng-hide="post.state == 'published'">
    <button class="btn btn-warning btn-block" ng-click="changeState(post)">草稿</button>
  </div>
</div>
<!-- </div> -->
</div>
<!-- .post-edit -->

<!-- <ui-codemirror ng-model="post.content" ui-codemirror-opts="editorOptions"></ui-codemirror> -->
