<table id="post-list" class="table table-borderd">
  <tr>
    <th>標題</th>
    <th>內容</th>
    <th>動作</th>
    <th>狀態</th>
  </tr>
  <tr ng-repeat="post in posts">
    <td>{{post.title}}</td>
    <td>{{post.description}}</td>
<!--     <td><button class="btn btn-default" ui-sref="posts.show({id:post.id})">顯示</button></td> -->
    <td class="action">
      <button class="btn btn-default" ui-sref="posts.edit.editor({id:post.id})">編輯</button>
      <button class="btn btn-danger" ng-click="delete(post)">刪除</button>
    </td>
    <td>
      <div ng-show="post.state == 'published'">
        <button class="btn btn-primary btn-block" ng-click="changeState(post)">發佈中</button>
      </div>
      <div ng-hide="post.state == 'published'">
        <button class="btn btn-warning btn-block" ng-click="changeState(post)">草稿</button>
      </div>
    </td>
  </tr>
</table>