<div class="post-show">

<% if user_signed_in? %>
<h1>{{post.title}}<a href="" class="edit-link" ng-click="edit(post)">edit</a></h1>
<% else %>
<h1>{{post.title}}<small>{{post.create_at}}</small></h1>
<% end%>

<small class="date">{{post.published_at}}</small>

  <!-- <h1>Example page header <small>Subtext for header</small></h1> -->

<article ng-bind-html="post.content"></article>


<h3>討論</h3>
<hr />
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
<!-- .post-show -->