@import "../loading";
@import "bootstrap/variables";

body{
  padding-top : 50px;
}

pre{
  background-color : #232323;
}

@media (max-width: $screen-sm-min){
  .navbar-brand{
    padding-left : 0;
  }  
}


.navbar-brand{
  img{
    margin-right : 7.5px;
    max-height   : 100%;
    float        : left;
  }
}