@import "bootstrap.united";
@import "../loading";
@import "bootstrap/variables";
@import "./*";

body{
  padding-top : 50px;
}

pre{
  background-color : #232323;
}

@media (max-width: $screen-sm-min){
  .navbar-brand{
    padding-left : 0;
  }  
}


.navbar-brand{
  img{
    margin-right : 7.5px;
    max-height   : 100%;
    float        : left;
  }
}

// pre,
// code{
//   word-break : normal !important;
//   white-space: normal !important;
// }

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  code{
    white-space: pre;
  }
}
