#livehouse{
  h3{
    margin-top    : 5px;
    margin-bottom : 0;
  }
  .buttons{
    float: right;  
    .btn{
      padding: 2px 6px;
    }
  }

  .chat-wrapper{
    margin-top : 2em;
    padding-bottom: 50%;
    position : relative;
    iframe {
      position: absolute;
      width  : 100%;
      height : 100%;
    }
  }

  .offline{
    // text-align: center;
    // font-size:
  }

  // &.living{
  //   .buttons{
  //     position: relative;
  //     top: 11px;
  //     right: -1px;
  //   }
  // }


  .video-wrapper{
    // padding-bottom: 44%;
    padding-bottom: 58.5%;
  }

  hr{
    margin-top : 5px;
  }
}

@media (min-width: $screen-md-min){
#livehouse{
  .chat-wrapper{
    padding-bottom: 0;
    height : 55 vh;
  }
}

}
