#livehouse{
  h3{
    margin-top    : 5px;
    margin-bottom : 0;
  }
  .buttons{
    float: right;  
    .btn{
      padding: 2px 6px;
    }
  }

  .offline{
    // text-align: center;
    // font-size:
  }

  // &.living{
  //   .buttons{
  //     position: relative;
  //     top: 11px;
  //     right: -1px;
  //   }
  // }


  .video-wrapper{
    padding-bottom: 44%;
  }

  hr{
    margin-top : 5px;
  }
}
