.post-show{
  h1{
    margin:0.67em 0;
    .edit-link{
      margin-left : 0.5em;
      font-size   : 0.5em;
    }
  }

  #disqus_thread{
    margin-top: 2em;
  }
}

article{
  a{
    word-wrap : break-word;
  }
  p{
    letter-spacing : 2px;
    margin-top     : 1em;
    margin-bottom  : 2em;
    word-wrap      : break-word;
    font-size      : 1.1em;
    line-height    : 180%;
  }
  img{
    border     : 3px solid #CCC;
    // padding    : 5px;
    box-sizing : border-box;
    max-width  : 100%;
    display    : block;
    margin     : 0 auto;
    margin-top : 0.5em;
  }
  pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    margin-bottom: 2em;
  }
  code{
    white-space: pre;
    background : #232323;
    color      : #e6e1dc;
    padding: 2px 6px;
    margin: 0px 4px;
  }
}