#sidebar{
  padding-top: 1.67em;
  ::-webkit-scrollbar { 
      display: none; 
  }
}

@media (min-width: $screen-md-min){
#sidebar{
  float  : right;
  height : 100vh;
  width  : 30%;
}
#sidebar-wrapper{
  // overflow-y: scroll;
  position: fixed;
  // width: 205px;
  // width: 283px;
  width: 291px;
  height: calc(100vh - 90px);
  // @include scrollbars(.5em, #FF0000);

  // margin-right: -15px;


}
}

@media (min-width: $screen-lg-min){
#sidebar-wrapper{
  width: 351px;
}
}