#post-edit .sidebar  {
  padding-top: 40px;
}

@media (min-width: $screen-sm-min){
#post-edit{
  .content{
    float : left;
    width : 83%;
  }
  .sidebar{

    float : right;
    width : 13%;
  }   
}
}